
  /* Custom Styles */
  body {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    top: 100px; /* Adjust as needed */
    left: 100px; /* Adjust as needed */
  }

  /* Custom Margin for images and responsive sizing */
  .content-image {
    max-width: 50%; /* Make the images smaller, adjust percentage as needed */
    height: auto;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 20px;
    display: block; /* Ensures the image is treated as a block element */
    margin-left: 40px;
    margin-right: auto;
  }

  /* Responsive Design for small screens */
  @media (max-width: 600px) {
    body {
      font-size: 0.9em;
    }
    h1 {
      font-size: 1.8em;
    }
    .content-image {
      max-width: 100%; /* For mobile screens, use full width */
    }
  }